<#include "/layout/user-header.html">
    <div id="main-content">
        <#include "left-nav.html">

            <div class="right">
                <h2><img src="img/title-style.png"/>编辑新闻</h2>

                <div id="intro">
                    <form class="form-inline" role="form" method="post" id="edit_form" action="user/xinwen/update" >
                        <input type="hidden" name="xinwen.id" value="${xinwen.id}"  >
                        <div class="form-group">
                            <label class="" for="iw">标题</label>
                            <input type="text" class="form-control" id="iw" placeholder="编号" name="xinwen.title" value="${xinwen.title}">
                        </div>
                        <div class="form-group">
                            <label class="" for="ic">正文</label>
                            <textarea cols="100" rows="10" name="xinwen.content" id="ic">${xinwen.content}</textarea>
                        </div>
                       
                        <button type="button" id="update" class="btn btn-success">保存</button>
                    </form>
                </div>
            </div>
            <br class="clear"/>
            <script>
                $("#update").click(function(){
                    subform('#edit_form');
                });
            </script>
    </div>
    <#include "/layout/user-footer.html" >