<#include "/layout/admin-header.html">
    <div id="main-content">
        <#include "left-nav.html">

            <div class="right">
                <h2><img src="img/title-style.png"/>添加住户</h2>

                <div id="intro">
                    <form class="form-control-static" role="form" method="post" id="edit_form" action="admin/zhuhu/create">
                        <div class="form-group">
                            <label class="" for="iw">编号</label>
                            <input type="text" class="form-control" id="iw" placeholder="编号" name="zhuhu.no">
                        </div>
                        <div class="form-group">
                            <label class="" for="ia">姓名</label>
                            <input type="text" class="form-control" id="ia" placeholder="姓名" name="zhuhu.name">
                        </div>
                        <div class="form-group">
                            <label class="" for="ir">身份证号</label>
                            <input type="text" class="form-control" id="ir" placeholder="姓名" name="zhuhu.sfzh">
                        </div>
                        <div class="form-group">
                            <label class="" for="ic">登录名</label>
                            <input type="text" class="form-control" id="ic" placeholder="登录名" name="zhuhu.logname">
                        </div>

                        <div class="form-group">
                            <label class="" for="id">联系方式</label>
                            <input type="text" class="form-control" id="id" placeholder="联系方式" name="zhuhu.phone">
                        </div>
                        <div class="form-group">
                            <label class="" for="ie">住户邮箱</label>
                            <input type="text" class="form-control" id="ie" placeholder="住户邮箱" name="zhuhu.mail">
                        </div>
                        <div class="form-group">
                            <label class="" for="if">工作单位</label>
                            <input type="text" class="form-control" id="if" placeholder="工作单位" name="zhuhu.work">
                        </div>
                        <div class="form-group">
                            <label class="" for="ih">小区名称</label>
                            <input type="text" class="form-control" id="ih" placeholder="小区名称" name="zhuhu.comname">
                        </div>
                        <div class="form-group">
                            <label class="" for="ii">住户详细地址</label>
                            <input type="text" class="form-control" id="ii" placeholder="住户详细地址" name="zhuhu.add">
                        </div>
                        <div class="form-group">
                            <label class="" for="ij">迁入日期</label>
                            <input type="text" class="form-control picker" id="ij" placeholder="迁入日期" name="zhuhu.indate">
                        </div>
                        <div class="form-group">
                            <label class="" for="ik">类型</label>
                            <select class="form-control" id="ik" name="zhuhu.type">
                                <option value="常住">常住</option>
                                <option value="租赁">租赁</option>
                                <option value="无人住">无人住</option>
                            </select>
                        </div>
                        <button type="button" id="add" class="btn btn-success">保存</button>
                    </form>
                </div>
            </div>
            <br class="clear"/>
            <script>
                $("#add").click(function(){
                    subform('#edit_form');
                });
            </script>
    </div>
    <#include "/layout/admin-footer.html" >