<#include "/layout/ifragment-header.html">

    <table class="table">
        <thead>
        <tr>
            <th>业主编号</th>
            <th>业主姓名</th>
            <th>身份证号</th>
            <th>联系电话</th>
            <th>电子邮箱</th>
            <th>工作单位</th>
            <th>小区名称</th>
            <th>详细地址</th>
            <th>入住日期</th>
            <th>类型</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
        <#list zhuhu.list as zhuhu>
            <tr>
                <td>${zhuhu.no?if_exists}</td>
                <td>${zhuhu.name?if_exists}</td>
                <td>${zhuhu.sfzh?if_exists}</td>
                <td>${zhuhu.phone?if_exists}</td>
                <td>${zhuhu.mail?if_exists}</td>
                <td>${zhuhu.work?if_exists}</td>
                <td>${zhuhu.comname?if_exists}</td>
                <td>${zhuhu.add?if_exists}</td>
                <td>${zhuhu.indate?if_exists}</td>
                <td>${zhuhu.type?if_exists}</td>
            </tr>
        </#list>
        </tbody>
    </table>

<script>
    $(document).ready(function(){
        window.print();
    });
</script>
    </body>
    </html>
