<#include "/layout/admin-header.html">
    <div id="main-content">
        <#include "left-nav.html">

            <div class="right">
                <h2><img src="img/title-style.png"/>添加车位</h2>

                <div id="intro">
                    <form class="form-control-static" role="form" method="post" id="edit_form" action="admin/cewei/create">
                        <div class="form-group">
                            <label class="" for="iw">编号</label>
                            <input type="text" class="form-control" id="iw" placeholder="编号" name="cewei.no">
                        </div>
                        <div class="form-group">
                            <label class="" for="ia">地址</label>
                            <input type="text" class="form-control" id="ia" placeholder="地址" name="cewei.address">
                        </div>
                        <div class="form-group">
                            <label class="" for="ic">住户编号</label>
                            <input type="text" class="form-control" id="ic" placeholder="住户编号" name="cewei.zhuhu_no">
                        </div>

                        <div class="form-group">
                            <label class="" for="id">住户姓名</label>
                            <input type="text" class="form-control" id="id" placeholder="住户姓名" name="cewei.name">
                        </div>
                        <div class="form-group">
                            <label class="" for="ie">使用期限</label>
                            <input type="text" class="form-control" id="ie" placeholder="使用期限" name="cewei.time">
                        </div>
                        <div class="form-group">
                            <label class="" for="if">是否空缺</label>
                            <select class="form-control"  id="if"   name="cewei.kong">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="" for="ih">是否缴费</label>
                            <select class="form-control"  id="ih"   name="cewei.cost">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>

                        <button type="button" id="add" class="btn btn-success">保存</button>
                    </form>
                </div>
            </div>
            <br class="clear"/>
            <script>
                $("#add").click(function(){
                    subform('#edit_form');
                });
            </script>
    </div>
    <#include "/layout/admin-footer.html" >