<#include "/layout/user-header.html">
    <div id="main-content">
        <#include "left-nav.html">

            <div class="right">
                <h2><img src="img/title-style.png"/>编辑维修</h2>

                <div id="intro">
                    <form class="form-inline" role="form" method="post" id="edit_form" action="user/weixiu/update">
                    <input  type="hidden" name="weixiu.id" value="${weixiu.id}"  >
                    <div class="form-group">
                        <label class="" for="iw">编号</label>
                        <input  type="text" class="form-control" id="iw" placeholder="编号" name="weixiu.no" value="${weixiu.no}">
                    </div>
                    <div class="form-group">
                        <label class="" for="ia">主题</label>
                        <input  type="text" class="form-control" id="ia" placeholder="主题" name="weixiu.title" value="${weixiu.title}">
                    </div>
                    <div class="form-group">
                        <label class="" for="ic">地址</label>
                        <input  type="text" class="form-control" id="ic" placeholder="地址" name="weixiu.address" value="${weixiu.address}">
                    </div>

                    <div class="form-group">
                        <label class="" for="id">发生时间</label>
                        <input  type="text" class="form-control picker" id="id" placeholder="发生时间" name="weixiu.date" value="${weixiu.date}">
                    </div>
                    <div class="form-group">
                        <label class="" for="ie">空闲时间</label>
                        <input  type="text" class="form-control picker" id="ie" placeholder="空闲时间" name="weixiu.freedate" value="${weixiu.freedate}">
                    </div>
                    <div class="form-group">
                        <label class="" for="if">联系人</label>
                        <input  type="text" class="form-control" id="if" placeholder="联系人" name="weixiu.contact" value="${weixiu.contact}">
                    </div>
                    <div class="form-group">
                        <label class="" for="ih">联系方式</label>
                        <input  type="text" class="form-control" id="ih" placeholder="联系方式" name="weixiu.phone" value="${weixiu.phone}">
                    </div>
                    <div class="form-group">
                        <label class="" for="ii">备注</label>
                        <input  type="text" class="form-control" id="ii" placeholder="备注" name="weixiu.remark" value="${weixiu.remark}">
                    </div>
                    <button type="button" id="update" class="btn btn-success">保存</button>
                        </form>
                </div>
            </div>
            <br class="clear"/>
            <script>
                $("#update").click(function(){
                    subform('#edit_form');
                });
            </script>
    </div>
    <#include "/layout/user-footer.html" >