<#include "/layout/ifragment-header.html">
                <div id="intro">
                        <input readonly="readonly" type="hidden" name="weixiu.id" value="${weixiu.id}"  >
                        <div class="form-group">
                            <label class="" for="iw">编号</label>
                            <input readonly="readonly" type="text" class="form-control" id="iw" placeholder="编号" name="weixiu.no" value="${weixiu.no}">
                        </div>
                        <div class="form-group">
                            <label class="" for="ia">主题</label>
                            <input readonly="readonly" type="text" class="form-control" id="ia" placeholder="主题" name="weixiu.name" value="${weixiu.title}">
                        </div>
                        <div class="form-group">
                            <label class="" for="ic">地址</label>
                            <input readonly="readonly" type="text" class="form-control" id="ic" placeholder="地址" name="weixiu.logname" value="${weixiu.address}">
                        </div>

                        <div class="form-group">
                            <label class="" for="id">发生时间</label>
                            <input readonly="readonly" type="text" class="form-control" id="id" placeholder="发生时间" name="weixiu.phone" value="${weixiu.date}">
                        </div>
                        <div class="form-group">
                            <label class="" for="ie">空闲时间</label>
                            <input readonly="readonly" type="text" class="form-control" id="ie" placeholder="空闲时间" name="weixiu.mail" value="${weixiu.freedate}">
                        </div>
                        <div class="form-group">
                            <label class="" for="if">联系人</label>
                            <input readonly="readonly" type="text" class="form-control" id="if" placeholder="联系人" name="weixiu.work" value="${weixiu.contact}">
                        </div>
                        <div class="form-group">
                            <label class="" for="ih">联系方式</label>
                            <input readonly="readonly" type="text" class="form-control" id="ih" placeholder="联系方式" name="weixiu.comname" value="${weixiu.phone}">
                        </div>
                    <div class="form-group">
                        <label class="" for="ir">状态</label>
                        <input readonly="readonly" type="text" class="form-control" id="ir" placeholder="备注" name="weixiu.add" value="${weixiu.state}">
                    </div>
                        <div class="form-group">
                            <label class="" for="ii">备注</label>
                            <input readonly="readonly" type="text" class="form-control" id="ii" placeholder="备注" name="weixiu.add" value="${weixiu.remark}">
                        </div>
                    <div class="form-group">
                        <label class="" for="i">评分</label>
                        <input readonly="readonly" type="text" class="form-control" id="i" placeholder="评分" name="weixiu.add" value="${weixiu.pf}">
                    </div>

                </div>
    </body>
    </html>


   