<#include "/layout/user-header.html">
    <div id="main-content">
        <#include "left-nav.html">

            <div class="right">
                <h2><img src="img/title-style.png"/>维修须知</h2>

                <div id="intro">
                    <p>本楼盘内所有小区都设维修科。在主任的领导下，为业主提供房屋装修房屋，设施的维修及养护，并经常对楼房、设施设备进行巡视，做好巡检记录，及时满足业主维修要求，竭诚为您服务。请业主们就在以下条款范围内出现维修问题等情况及时进行报修。</p>
                    <h5> 一、	公用设施范围</h5>
                    <p>房屋本体外墙面、屋面、楼梯通道外墙面</p>
                    <p>小区内道路面、人行道</p>
                    <p>小区内照明楼道灯、广场灯、车库灯、草坪灯、</p>
                    <p>沟渠池井雨水口、雨水井、污水井</p>
                    <p>停车场地面、标识牌、消防设施</p>
                    <p>地下停车场、电梯、公共设施围栏、宣传栏、广播系统</p>
                    <h5>二、业主报修范围</h5>
                    <p>房屋维修：屋面、外墙、房屋承重结构、走廊、通道、楼梯</p>
                    <p>室外照明、室外卫生、屋内管道、屋内排水</p>
                    <p>屋内供水、供电、煤气，有线电视、通信</p>
                    <h5>三、报修流程：</h5>
                    <p>登录楼盘物业管理系统    点击“维修管理”    阅读“维修须知”</p>
                    <p> 点击“在线维修”，填写详情，提交    </p>
                    <p>我们承诺接到报修后，3分钟内落实处理措施，在30分钟内落实解决方案，上门维修，维修完工后及时回访。</p>
                </div>
            </div>
            <br class="clear"/>
            <script>
                $("#add").click(function(){
                    subform('#edit_form');
                });
            </script>
    </div>
    <#include "/layout/user-footer.html" >