<#include "/layout/admin-header.html" >
<div id="main-content">
    <#include "left-nav.html">
    <div class="right">
        <h2><img src="img/title-style.png"/>缴费统计分析</h2>

        <div id="intro">
           <!--<button class="btn" data-toggle="modal" data-target="#myModal">扇形图分析</button>-->
            <form class="form-inline" role="form" action="admin/shoufei/yue" method="get">

                <div class="form-group">
                    <label class="" for="">选择月份</label>
                    <input name="date" type="text" class="picker" value="${date?if_exists}" />
                    <button type="submit" class="btn">查询</button>
                    <button type="button" class="btn" onclick="window.location.href='admin/shoufei/add'">添加</button>
                </div>

            </form>
            <div id="yue" ></div>
                <h3>总收费金额：${zsf.count?if_exists}元</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>业主编号</th>
                    <th>业主姓名</th>
                    <th>费用项目</th>
                    <th>金额</th>
                    <th>日期</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="4">
                        第<select style="width: 80px;" class="form-group" id="page-select">
                    </select> 页，共<span class="shoufei.totalRow">${shoufei.totalRow?if_exists}</span>条记录
                   <script>setPager('${shoufei.pageNumber?if_exists}','${shoufei.totalPage?if_exists}');</script>

                    </td>

                </tr>
                </tfoot>
                <tbody>
                <#list shoufei.list as shoufei>
                <tr>
                    <td>${shoufei.no?if_exists}</td>
                    <td>${shoufei.name?if_exists}</td>
                    <td>${shoufei.type?if_exists}</td>
                    <td>${shoufei.cost?if_exists}</td>
                    <td>${shoufei.date?if_exists}</td>
                    <td>${shoufei.state?if_exists}</td>
                    <td data="${shoufei.id}">
                        <button type="button" class="btn btn-success btn_view">查看</button>
                        <button type="button" class="btn btn-success btn_active " active="edit">修改</button>
                        <button type="button" class="btn btn-danger  btn_active" active="delete">删除</button>

                    </td>
                </tr>
                </#list>
                </tbody>
            </table>
        </div>
    </div>
    <br class="clear"/>

</div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">查看</h4>
                </div>
                <div class="modal-body" style="height: 600px;">
                    <iframe id="frame_modal" src="" style="width: 100%;height:100%;">
                    </iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script>
        $(".btn_view").click(function(){
            $("#frame_modal").attr("src","admin/shoufei/view/"+$(this).parent().attr("data"));
            $('#myModal').modal('show');
        });
    </script>

    <script>
        $(function () {
            $('#yue').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}(元)</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '金额',
                    data: [
                            <#list tj1 as tj>['${tj.type?if_exists}',${tj.cost?if_exists}]<#if tj_has_next>,</#if></#list>


                    ]
                }]
            });
        });


    </script>
        <#include "/layout/admin-footer.html" >