<#include "/layout/user-header.html">
    <div id="main-content">
        <#include "left-nav.html">

            <div class="right">
                <h2><img src="img/title-style.png"/>投诉须知</h2>

                <div id="intro">
                    <p>本楼盘所有小区物业管理人员热忱欢迎所有业主及时向我们投诉问题和提相关建议，来改进服务质量，提高服务水平。请业主们就违背以下条款而出现的问题或问题处理不满意等情况及时进行投诉。</p>
                    <p>（一）、文明服务：遵守社会公德，讲究职业道德，执行各项规章制度。管理处各类员工守时守纪，着装整洁，礼貌待人。</p>
                    <p>（二）、整体环境：社区房屋及公共场所没有堆积物，地面平整，无建筑垃圾。社区整体外貌无损坏，房屋达到完好或基本完好的标准，保证居住安全和正常使用。车辆停放整齐有序，楼房外观没有违章建筑物。</p>
                    <p></p>
                    <p>（四）、庭院绿化：社区内公共绿地、庭院绿地和街道绿化分布合理，花、草、树木、建筑小品培植得当，环境优雅宜人。（五）、治安管理：社区内治安保卫制度化、防偷盗、防自然灾害，有制度、有设施、有公约、有专人负责。社区内治安人员尽职尽责，保证社区居民人身财产安全。</p>
                    <p>（六）、经费管理：严格按照国家和市有关部门制定的收费标准，无乱收费、乱摊派行为。收费统一，手续简便，方便业主，各种费用收缴及时，为业主服务的管理费收之于民、用之于民。管理处严格执行财经纪律，财会人员无贪污、挪用行为，并厉行节约，积极开展多种经营。</p>
                    <p>（七）、设施齐备：社区内给排水、供电、通讯、照明、消防、文体等设施齐全完备，运作正常。</p>
                    <p>（八）、社区文化：社区内积极开展社区文化活动，有专供老人、儿童活动的设施。宣传教育活动内容丰富，文体活动开展有计划、有制度，旅客培养居民爱护公物，遵守法纪，团结互助，弘扬社会主义精神文明和道德风尚，共同创建文明住宅社区。</p>
                    <p>（九）、机构职能：管理处管理人员职责明确，分工合作，协调管理。行政管理尽职尽责，监督机制完善。召开各种会议有记录（纪要），开展各项活动有效益。资料、档案齐全，保存完好。</p>
                    <p>（十）、管住关系：“业主至上、服务第一”的宗旨贯穿在各项管理服务之中，切实体现“为业主排忧解难”，使业主满意。</p>
                    <p>  投诉流程：登录楼盘物业管理系统    点击“投诉管理”    阅读“投诉须知”  点击“在线投诉”，填写详情，提交    2个工作日后查看“投诉结果”。</p>

                </div>
            </div>
            <br class="clear"/>
            <script>
                $("#add").click(function(){
                    subform('#edit_form');
                });
            </script>
    </div>
    <#include "/layout/user-footer.html" >